
<div class="container">

  <p></p>
  <div class="title d-flex flex-column align-items-center">
    <h1 class="m-0">MEMBERSHIP ENROLLEMENT</h1>
    <span class="line-sm"></span>
  </div>

  <div class="row border ">
    <div class="col-md-3 col-sm-12 mt-2">
        <mat-form-field appearance="fill">
          <mat-label>Joining Date</mat-label>
          <mat-datepicker #dp1 [disabled]="false"></mat-datepicker>
          <input matInput [matDatepicker]="dp1"  [value]="date.value">
          <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
        </mat-form-field>
    </div>
    <div class="col-md-3 col-sm-12 mt-3">
      <mat-form-field>
        <mat-label>Member Number</mat-label>
        <input formControlName="memberNumber" matInput  value="iw00...">
      </mat-form-field>
    </div>
    <div class="col-md-3 col-sm-12 mt-3">
      <mat-form-field>
        <mat-label>Designation/Role</mat-label>
        <input formControlName="designation" matInput  value="">
      </mat-form-field>
    </div>
    <div class="col-md-3 col-sm-12 mt-3">
      <mat-form-field>
        <mat-label>Subscriber Type</mat-label>
        <input formControlName="subscribeType" matInput  value="Yearly">
      </mat-form-field>
    </div>
  </div>
  <div class="row border">
    <div class="col-md-6 col-sm-12 border">
      <div class="personal-detail info-wrapper">
        <h2 class="info-title">Personal details</h2>
        <div class="info-contents">
          <div class="d-flex equal-width" >
            <mat-form-field class="mr-4">
              <input formControlName="firstName" matInput placeholder="First Name*">
            </mat-form-field>
            <mat-form-field >
              <input formControlName="lastName" matInput placeholder="Last Name*">
            </mat-form-field>
          </div>
          <div class="d-flex equal-width">
            <mat-form-field class="mr-4">
              <input formControlName="fatherFirstName" matInput placeholder="Father First Name*">
            </mat-form-field>
            <mat-form-field >
              <input formControlName="fatherLastName" matInput placeholder="Father Last Name*">
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>Permanent Address</mat-label>
            <textarea matInput placeholder="Ex. 39 Main St"></textarea>
          </mat-form-field>
          <div class="d-flex equal-width">
            <mat-form-field class="mr-4">
              <mat-label>City</mat-label>
              <input matInput placeholder="Ex. Kumbakonam">
            </mat-form-field>
            <mat-form-field >
              <mat-label>District</mat-label>
              <input matInput placeholder="Ex. Thanjavur">
            </mat-form-field>
          </div>
          <div class="d-flex equal-width">
            <mat-form-field class="mr-4">
              <mat-label>State</mat-label>
              <input matInput placeholder="Ex. Tamilnadu">
            </mat-form-field>
            <mat-form-field >
              <mat-label>Postal Code</mat-label>
              <input matInput #postalCode maxlength="6" type="number" placeholder="Ex. 612302" value="612302">
              <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-6 col-sm-12 border">
      <div class="verification-detail info-wrapper">
        <h2 class="info-title">Verification details</h2>
        <div class="info-contents">
          <div class="d-flex equal-width">
            <mat-form-field class="mr-4">
              <input formControlName="mobileNumber" matInput placeholder="Mobile Number*">
            </mat-form-field>
            <mat-form-field class="mr-4">
              <input formControlName="whatsappNumber" matInput placeholder="Whatsapp Number*">
            </mat-form-field>
          </div>
          <div class="d-flex">
            <mat-form-field >
              <mat-label>Aadhar Number*</mat-label>
              <input  matInput #aadharCode maxlength="12" type="number" placeholder="Ex. 6123 0212 3112">
              <mat-hint align="end">{{aadharCode.value.length}} / 12</mat-hint>
            </mat-form-field>
            <span class="d-flex align-items-center">
              <mat-icon class="mr-2">cloud_upload</mat-icon>
              <span class="reg-card-text" >Upload Aadhar card Details</span>
            </span>
          </div>
          <mat-form-field >
            <mat-label>Current Address</mat-label>
            <textarea matInput placeholder="Ex. 37 Chinna saliya St"></textarea>
          </mat-form-field>
          <div class="d-flex equal-width">
            <mat-form-field class="mr-4">
              <mat-label>City</mat-label>
              <input matInput placeholder="Ex. Kumbakonam">
            </mat-form-field>
            <mat-form-field >
              <mat-label>District</mat-label>
              <input matInput placeholder="Ex. Thanjavur">
            </mat-form-field>
          </div>
          <div class="d-flex equal-width">
            <mat-form-field class="mr-4">
              <mat-label>State</mat-label>
              <input matInput placeholder="Ex. Tamilnadu">
            </mat-form-field>
            <mat-form-field >
              <mat-label>Postal Code</mat-label>
              <input matInput #postalCode maxlength="6" type="number" placeholder="Ex. 612302" value="612302">
              <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <p></p>
  </div>
  <p></p>
  <div class="row ">
    <div class="col-md-1 col-sm-3">
      <button mat-button class="border">SAVE</button>
    </div>
    <div class="col-md-1 col-sm-3">
      <button mat-button class="border">RESET</button>
    </div>
  </div>
</div>

